<section id="section-gallery" class="gallery">
    <img src="/assets/gallery-bg.jpg" alt="Background image for smile gallery of happy dental patients" class="hidden-xs">
    <div class="flex-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                    <h2 class="gallery__title">Smile Gallery</h2>
                    <p class="gallery__copy">Select the link below to view dramatic before and after photos of actual patients and thier unique cases.</p>
                    <div class="alignright">
                        <a class="btn" href="#" data-target="#smile-gallery-modal" data-toggle="modal">View Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div data-lightbox="gallery">#}
        {#<a href="/assets/gallery/1.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>#}
        {#<a href="/assets/gallery/2.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/2.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>#}
        {#<a href="/assets/gallery/3.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/3.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>#}
        {#<a href="/assets/gallery/4.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/4.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>#}
    {#</div>#}
</section>

